<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="article10.css" rel="stylesheet">
    <link href="font-awesome.min.css" rel="stylesheet">
    <title>Book Recommendation</title>
</head>
<body>  
    <img src="worldcup.jpeg" id="wc19"> 
   
        <h2>The Princess Saves Herself In This One (Woman Are Some Kind Of Magic, #1)<br>
            Amanda Lovelace<br>
            Genre: Poetry<br>
             </h2> 
         <span id="author">- Kritleen Kaur, CSE 2 1st year
          
            </p> 

             <div class="article">
             <p>  Why is it that every story has a happy ending when the knight in shining armor saves the damsel in distress? Why is every superhero a man and a common woman, with no talent except for fawning at him, his aide? Because that’s what sells, what everyone has been conditioned to believe in all their lives. But exceptions always exist, don’t they?  <br> <br>
                “The princess locked herself away in the highest tower, hoping a knight in shining armor would come to her rescue.   - I didn’t realize i could be my own knight.” <br> <br>
                Amanda Lovelace smiled like a siren and sent a single stone to smash the glass castles of all the anti-feminists out there. Once you read her poetry collection, ‘The Princess Saves Herself In This One’, consisting of three parts- the princess, the damsel and the queen- narrating her tale of woe and valor as well as the fourth part - you- because of course she’s worried about other suffering women even as she bares her soul to the reader, you realise that the world of women is far more complicated and shattering than what is apparent to you and I. <br><br>
                “Stiicks & stones never broke my bones, but words made me starve myself until you could see all of them.”<br><br>
                It’s not that you’re wrong but I wasn’t born yesterday either. This beautiful specimen of poetry is a shoutout from Amanda Lovelace to all those who curse themselves for being slightly healthier than the social standards; ‘fat’ is an abusive word when it makes someone starve themselves to ‘look less like a potato’. When fear of criticism makes you want to hide in the shadiest corner, it’s not ‘just a comment, why are you girls so sensitive?’, it’s an insult of the highest order. I’ve never posted a picture ever, feel free to guess why.<br><br>
                “I am<br>
a lioness<br>
who is no longer<br>
afraid to let the world<br>
hear her<br>
roar<br>
-an ode to me”<br><br>
No one wants me to narrate abuse and molestation statistics; we all know pretty well that not a single one of our sisters, mothers, friends, wives, daughters and at times even male acquaintances are safe out there. But what I can state is that every action has an equal and opposite reaction. Voices are starting to be raised and justice demanded; no more victims, it’s the age of survivors.<br><br>
The beauty of this book is that it doesn’t gloss over the bad parts; what makes it a masterpiece and my personal favorite is that it tells the truth as it is. And the funny thing is, that boys will put it back on the shelf thinking ‘Oh, it’s a girls’ book of rhymes’, but real men will try to catch a glimpse of what it’s like to be a woman, if only so they could better understand the women in their life. You, being your own person, have the sole right to your decisions but I can promise this, reading is an investment but the lessons learnt continue to pay you back throughout your lifetime.<br><br>
You can follow the author of ‘The Princess Saves Herself In This One’, Amanda Lovelace on Instagram: ladybookmad. I do :) </p>

               
        <div ng-app="myApp">
            <button class="like-project" 
                ng-controller="check" 
                ng-click="count(1) || changeClass() || disableClick()" 
                ng-class="class" 
                ng-disabled="isDisabled" 
                ng-model="isDisabled"> 
        
                <i class="icon icon-heart-bts"><span> {{ count }} </span></i>
                
            </button>
        </div>
    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>What's Avataran? </span></a>
        <div class="inner">
            <div class="content">
                <h3></h3>
                <p>Basically,a bunch of happy,creative people collaborate each month to deliver a month's issue to you. Feel strongly about something? Write to us! Have a hidden talent? Mail us. We will post your articles and photos here. Let's make this a community of fierce females. </p>
            </div>

            <div class="copyright">
                <h3>Find us here!</h3>
                <ul class="icons">
                    
                    <li><a href="https://www.facebook.com/AvataranTheEMagazineSocietyOfIgdtuw/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/avataran.igdtuw/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    
                </ul>
                
            </div>
        </div>

    </footer>

    	<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
            <script src="js/main.js"></script>
            <script src="js/article10.js"></script>
</body>
</html>